@import url("https://fonts.googleapis.com/css?family=Raleway:100,300,400,600,700");
@media (min-width: 320px) {
  /**/ }

@media (min-width: 480px) {
  /**/ }

@media (min-width: 600px) {
  /**/ }

@media (min-width: 801px) {
  /**/ }

@media (min-width: 1025px) {
  /**/ }

@media (min-width: 1281px) {
  /**/ }

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #3E3C45; }

li {
  list-style: none; }

input,
textarea,
button {
  border: 0;
  border-radius: 0;
  outline: none; }
  input:hover, input:active, input:focus,
  textarea:hover,
  textarea:active,
  textarea:focus,
  button:hover,
  button:active,
  button:focus {
    outline: none; }

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media only screen and (min-width: 801px) and (max-width: 1024px) {
    html {
      font-size: 75%; } }

body {
  color: #021515;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 400; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0; }

embed,
iframe,
object,
video {
  width: 100%;
  max-width: 100%; }

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle; }

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem); }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem); }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0); } }

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem); }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem); }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0); } }

.cta {
  color: #1CD8D2;
  background: #ffffff;
  padding: 5rem 0; }

.l-center {
  text-align: center; }

.l-container {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto; }

.l-grid {
  padding: 2rem 0; }

.footer {
  background: #1CD8D2;
  color: #ffffff;
  padding: 1rem 0; }
  .footer-social__icon {
    float: left;
    width: 30%; }
  .footer::after {
    content: " ";
    display: table;
    clear: both; }

.header {
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2); }
  .header--fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1; }

.hero__logo-box {
  position: relative; }

.hero__container {
  background: #1cd7d1; }

.hero-primary {
  color: #ffffff;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }
  .hero-primary--main {
    display: block;
    font-weight: 400;
    -webkit-animation: moveInLeft 1s ease-out;
            animation: moveInLeft 1s ease-out; }
  .hero-primary--sub {
    display: block;
    font-weight: 700;
    -webkit-animation: moveInRight 1s ease-out;
            animation: moveInRight 1s ease-out; }

.story-feature {
  color: #ffffff;
  padding: 11rem 2rem; }

.story__content-box {
  padding: 5rem 3rem;
  background: #1cd7d1; }

.feature {
  background: #ffff;
  padding-top: 4rem;
  padding-bottom: 4rem; }
  .feature-box {
    text-align: center; }
  .feature-icon {
    color: #93EDC7;
    font-size: 3.125rem; }

.paragraph__container {
  margin-bottom: 1.5rem; }

.project-section {
  background: #f6fdfa; }

@media only screen and (min-width: 1025px) and (max-width: 1824px) {
  .p-row::after {
    content: " ";
    display: table;
    clear: both; }
  .p-col {
    float: left; } }

@media only screen and (min-width: 1025px) and (max-width: 1824px) {
  .rightside__ref {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 512px;
    margin-bottom: 120px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

.rightside__image {
  position: relative;
  padding-left: 0;
  padding-right: 0; }

@media only screen and (min-width: 1025px) and (max-width: 1824px) {
  .leftside__ref {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    height: 512px;
    margin-bottom: 120px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .leftside__image {
    position: relative;
    padding-left: 0;
    padding-right: 0; } }

@media only screen and (min-width: 1025px) and (max-width: 1824px) {
  .img-rel {
    display: inline-block;
    position: relative; }
  .img-abs {
    position: absolute;
    top: 50%;
    left: 108px;
    -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
    -webkit-transform: translate(0px, -50%);
            transform: translate(0px, -50%); }
  .img-abs-two {
    position: absolute;
    left: 10px;
    right: 200px;
    top: 50%;
    -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
    -webkit-transform: translate(0px, -50%);
            transform: translate(0px, -50%); } }

.button__container {
  display: inline-block; }

.button--large {
  display: inline-block;
  padding: 1.5em 3.6em;
  border: 0.2em solid #1CD8D2; }

.button--small {
  background: transparent;
  padding: 0.75em 1.8em;
  border: 0.1em solid #1CD8D2; }

.button--white {
  display: inline-block;
  border: 0.1em solid #ffffff;
  color: #ffffff; }

.button--riptide {
  color: #1CD8D2; }

.hero-button {
  color: #ffffff;
  border: 0.2em solid #ffffff; }

.header-button {
  color: #ffffff; }

/*DESKTOP MEDIA QUERY*/
@media only screen and (min-width: 1025px) and (max-width: 1824px) {
  .header {
    background: rgba(28, 215, 209, 0.65);
    padding-bottom: 1.5rem; }
    .header__container {
      padding: 2rem 1.2rem 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .header__logo {
      color: #ffffff;
      font-size: 2.3rem; }
  .toggle__container {
    display: none; }
  .nav__items {
    float: left;
    margin-left: 1.9rem; }
  .nav--link {
    padding: 0 1rem;
    color: #ffffff;
    font-size: 1.8rem; }
  .nav::after {
    content: " ";
    display: table;
    clear: both; }
  .hero__container {
    padding: 17rem 3rem; }
  .hero-primary {
    margin-bottom: 6rem; }
    .hero-primary--main {
      font-size: 6rem;
      letter-spacing: 3.5rem; }
  .l-container {
    display: block;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem; }
  .l-grid::after {
    content: " ";
    display: table;
    clear: both; }
  .heading-primary {
    font-size: 5rem; }
  .heading-secondary {
    font-size: 3.5rem; }
  .heading-tertiary {
    font-size: 3.0rem; }
  .heading-quaternary {
    font-size: 2.5rem;
    margin-bottom: 1.2rem; }
  .cta-primary {
    font-size: 6rem; }
  .cta-paragraph {
    font-size: 3rem;
    margin-bottom: 2.3rem; }
  [class^="col-"] {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    float: left; }
  .col-1-of-12 {
    width: 8.3333333%; }
  .col-2-of-12 {
    width: 16.66666667%; }
  .col-3-of-12 {
    width: 25%; }
  .col-4-of-12 {
    width: 33.3333333%; }
  .col-5-of-12 {
    width: 41.66666667%; }
  .col-6-of-12 {
    width: 50%; }
  .col-7-of-12 {
    width: 58.3333333%; }
  .col-8-of-12 {
    width: 66.66666667%; }
  .col-9-of-12 {
    width: 75%; }
  .col-10-of-12 {
    width: 83.3333333%; }
  .col-11-of-12 {
    width: 91.66666667%; }
  .middlecol {
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px; }
  .story-feature {
    background: #f6fdfa; }
  .story__content-box {
    background: #1CD8D2;
    -webkit-box-shadow: 0 10px 30px rgba(28, 215, 209, 0.2);
            box-shadow: 0 10px 30px rgba(28, 215, 209, 0.2); }
  .paragraph {
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 1.5rem; }
  .project-section {
    padding: 5rem 0; }
  .img-rel {
    display: inline-block;
    position: relative; }
  .img--right {
    -webkit-box-shadow: 19px 17px 25px -13px rgba(0, 0, 0, 0.3);
            box-shadow: 19px 17px 25px -13px rgba(0, 0, 0, 0.3);
    float: right; }
  .img--left {
    -webkit-box-shadow: -18px 20px 37px -15px rgba(0, 0, 0, 0.3);
            box-shadow: -18px 20px 37px -15px rgba(0, 0, 0, 0.3); }
  .img__container {
    position: relative; }
  .img__overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(28, 215, 209, 0.32);
    position: absolute; }
  .section-subheader {
    margin-top: 20px;
    margin-bottom: 15px; }
  .section__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .section__content::after {
      content: " ";
      display: table;
      clear: both; }
  .section__side-left, .section__side-right {
    width: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    float: left; }
  .section__side-left {
    padding: 10rem 0;
    margin-left: 4.5rem; }
  .section__text-box {
    padding-right: 30px;
    padding-left: 15px;
    max-width: 600px;
    margin-left: 35px; } }

/*PHONE PORTRAIT MEDIA QUERY*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .header {
    background: #ffffff; }
    .header__container::after {
      content: " ";
      display: table;
      clear: both; }
    .header__logo-box {
      margin: 1.3rem 0 0 1.5rem;
      display: inline-block; }
    .header__logo {
      color: #36adaa;
      font-size: 2.1rem; }
  .toggle__block {
    display: block;
    width: 100%;
    height: 0.25rem;
    margin-bottom: 0.35rem;
    background: #36adaa; }
  .toggle__header {
    font-weight: 300;
    color: #36adaa; }
  .toggle__container {
    padding: 0.5rem;
    float: right;
    cursor: pointer; }
  .toggle__icon {
    padding: 0.5rem; }
  .nav {
    display: none;
    position: relative;
    top: 0;
    -webkit-transform: translate(-100%, -100%);
            transform: translate(-100%, -100%);
    -webkit-transition: all 700ms ease-out;
    transition: all 700ms ease-out; }
    .nav--active {
      display: block;
      position: absolute;
      -webkit-transform: translate(0%, 0%);
              transform: translate(0%, 0%);
      background: #36adaa;
      top: 100%;
      width: 100%; }
    .nav__items {
      padding: 1.3rem 0.7rem; }
    .nav--link {
      font-size: 1.3rem;
      color: #ffffff; }
      .nav--link:hover {
        color: #1cd7d1; }
  .hero__container {
    padding: 9rem 1rem; }
  .hero-primary {
    margin-bottom: 3rem; }
    .hero-primary--main {
      font-size: 2.9rem;
      letter-spacing: 0.4rem;
      margin-bottom: 0.8rem; }
    .hero-primary--sub {
      letter-spacing: 0.2rem;
      font-size: 1.3rem; }
  .heading-primary {
    font-size: 2.5rem; }
  .heading-secondary {
    font-size: 2.1rem; }
  .heading-tertiary {
    font-size: 1.9rem;
    padding: 0.97rem 0 0.65rem; }
  .heading-quaternary {
    font-size: 1.7rem;
    margin: 0.67rem 0; }
  .story-feature {
    background: #1cd7d1; }
  .story__content-box {
    padding: 0; }
  .project-section {
    padding: 2.3rem 0; }
  .project__text-box {
    padding: 1.3rem 0; }
  .cta-paragraph,
  .paragraph {
    font-size: 1.3rem;
    line-height: 1.6;
    margin-bottom: 1.5rem; }
  .cta-primary {
    font-size: 2.5rem; }
  .leftside__ref,
  .rightside__ref {
    margin-bottom: 2.5rem;
    text-align: center; }
  .img-rel {
    display: none; }
  .section__text-box {
    text-align: center; }
  .rightside__text-box {
    padding-top: 3.5rem; }
  .section-subheader {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; } }

/*TABLET PORTRAIT MEDIA QUERY*/
@media only screen and (min-width: 481px) and (max-width: 801px) {
  .hero__container {
    padding: 10rem 4rem; }
  .heading-primary {
    font-size: 3.5rem; }
  .heading-secondary {
    font-size: 2.7rem; }
  .heading-tertiary {
    font-size: 2.5rem; }
  .heading-quaternary {
    font-size: 2.3rem;
    margin-bottom: 1.6rem; }
  .feature-icon {
    font-size: 4.275rem; }
  .project__text-box {
    padding: 2.6rem 0; }
  .paragraph {
    font-size: 1.4rem;
    line-height: 1.6;
    margin: 1.5rem 0;
    padding: 0 0.9375rem; }
  .story-feature {
    background: #1cd7d1; }
  .story__content-box {
    padding: 0; }
  .leftside__ref,
  .rightside__ref {
    text-align: center;
    margin-bottom: 4rem; }
  .leftside__workdesc,
  .rightside__workdesc {
    margin-top: 4.5rem; }
  .img-rel {
    display: none; }
  .cta-primary {
    font-size: 4.2rem;
    margin-bottom: 1.3rem; }
  .cta-paragraph {
    font-size: 2.3rem;
    margin-bottom: 1.5rem; } }
