@import url("https://fonts.googleapis.com/css?family=Raleway:100,300,400,600,700");
@media (min-width: 320px) {
  /**/ }

@media (min-width: 480px) {
  /**/ }

@media (min-width: 600px) {
  /**/ }

@media (min-width: 801px) {
  /**/ }

@media (min-width: 1025px) {
  /**/ }

@media (min-width: 1281px) {
  /**/ }

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #3E3C45; }

input,
textarea,
button {
  border: 0;
  border-radius: 0;
  outline: none; }
  input:hover, input:active, input:focus,
  textarea:hover,
  textarea:active,
  textarea:focus,
  button:hover,
  button:active,
  button:focus {
    outline: none; }

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media only screen and (min-width: 801px) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 600px) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 1025px) {
    html {
      font-size: 75%; } }

body {
  background: #FDFDFD;
  color: #0E6E6B;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 400; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0; }

embed,
iframe,
object,
video {
  width: 100%;
  max-width: 100%; }

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle; }

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem); }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem); }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0); } }

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem); }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem); }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0); } }

.cta {
  color: #1CD8D2;
  background: #ffffff;
  padding: 5rem 0; }

.l-center {
  text-align: center; }

.l-container {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto; }

.l-grid {
  padding: 2rem 0; }

.footer {
  background: #1CD8D2;
  color: #ffffff;
  padding: 1rem 0; }
  .footer-social__icon {
    float: left;
    width: 30%; }
  .footer::after {
    content: " ";
    display: table;
    clear: both; }

.hero__logo-box {
  position: relative; }

.hero__container {
  padding: 4rem 1rem;
  background: -webkit-gradient(linear, left top, right bottom, from(#1CD8D2), to(#93EDC7));
  background: linear-gradient(to bottom right, #1CD8D2, #93EDC7); }

.hero-button {
  color: #ffffff; }

.hero-primary {
  color: #ffffff;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin-bottom: 6rem; }
  .hero-primary--main {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.5rem;
    -webkit-animation: moveInLeft 1s ease-out;
            animation: moveInLeft 1s ease-out; }
  .hero-primary--sub {
    display: block;
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
    font-weight: 700;
    -webkit-animation: moveInRight 1s ease-out;
            animation: moveInRight 1s ease-out; }

.story-feature {
  color: #ffffff;
  padding: 11rem 2rem; }

.story__content-box {
  padding: 5rem 3rem;
  background: -webkit-gradient(linear, left top, right bottom, from(#1CD8D2), to(#93EDC7));
  background: linear-gradient(to bottom right, #1CD8D2, #93EDC7); }

.feature {
  background: #ffffff;
  padding-top: 4rem;
  padding-bottom: 4rem; }
  .feature-box {
    text-align: center; }
  .feature-icon {
    color: #93EDC7;
    font-size: 3.125rem; }

.paragraph__container {
  margin-bottom: 1.5rem; }

@media only screen and (min-width: 1025px) {
  .p-row::after {
    content: " ";
    display: table;
    clear: both; }
  .p-col {
    float: left; } }

@media only screen and (min-width: 1025px) {
  .rightside__ref {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 512px;
    margin-bottom: 120px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

.rightside__image {
  position: relative;
  padding-left: 0;
  padding-right: 0; }

@media only screen and (min-width: 1025px) {
  .leftside__ref {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    height: 512px;
    margin-bottom: 120px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .leftside__image {
    position: relative;
    padding-left: 0;
    padding-right: 0; } }

@media only screen and (min-width: 1025px) {
  .img-rel {
    display: inline-block;
    position: relative; }
  .img-abs {
    position: absolute;
    top: 50%;
    left: 108px;
    -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
    -webkit-transform: translate(0px, -50%);
            transform: translate(0px, -50%); }
  .img-right {
    float: right; }
  .img-abs-two {
    position: absolute;
    left: 10px;
    right: 200px;
    top: 50%;
    -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
    -webkit-transform: translate(0px, -50%);
            transform: translate(0px, -50%); } }

.button__container {
  margin-bottom: 1.5rem; }

.button--large {
  display: inline-block;
  padding: 1.5em 3.6em;
  border: 0.2em solid #83D3C9; }

.button--small {
  background: transparent;
  padding: 0.75em 1.8em;
  border: 0.1em solid #83D3C9; }

.button--white {
  display: inline-block;
  border: 0.1em solid #ffffff;
  color: #ffffff; }

.button--riptide {
  color: #83D3C9; }

.header-button {
  color: #ffffff; }

/*DESKTOP MEDIA QUERY*/
@media only screen and (min-width: 1025px) {
  .hero-primary--main {
    font-size: 6rem;
    letter-spacing: 3.5rem; }
  .l-container {
    display: block;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem; }
  .l-grid::after {
    content: " ";
    display: table;
    clear: both; }
  .heading-primary {
    font-size: 4rem; }
  .heading-secondary {
    font-size: 3.5rem; }
  .heading-tertiary {
    font-size: 3.0rem; }
  .heading-quaternary {
    font-size: 2.5rem; }
  .cta-primary {
    font-size: 6rem; }
  .cta-paragraph {
    font-size: 3rem;
    margin-bottom: 2.3rem; }
  [class^="col-"] {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    float: left; }
  .col-1-of-12 {
    width: 8.3333333%; }
  .col-2-of-12 {
    width: 16.66666667%; }
  .col-3-of-12 {
    width: 25%; }
  .col-4-of-12 {
    width: 33.3333333%; }
  .col-5-of-12 {
    width: 41.66666667%; }
  .col-6-of-12 {
    width: 50%; }
  .col-7-of-12 {
    width: 58.3333333%; }
  .col-8-of-12 {
    width: 66.66666667%; }
  .col-9-of-12 {
    width: 75%; }
  .col-10-of-12 {
    width: 83.3333333%; }
  .col-11-of-12 {
    width: 91.66666667%; }
  .middlecol {
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px; }
  .story__content-box {
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
            box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3); } }

/*PHONE PORTRAIT MEDIA QUERY*/
@media only screen and (max-width: 320px) {
  .heading-primary {
    font-size: 2.5rem; }
  .heading-secondary {
    font-size: 2.1rem;
    padding: 1.3rem 0; }
  .heading-tertiary {
    font-size: 1.9rem;
    padding: 0.97rem 0 0.65rem; }
  .heading-quaternary {
    font-size: 1.7rem;
    margin: 0.67rem 0; }
  .story-feature {
    background: -webkit-gradient(linear, left top, right bottom, from(#1CD8D2), to(#93EDC7));
    background: linear-gradient(to bottom right, #1CD8D2, #93EDC7); }
  .story__content-box {
    padding: 0; }
  .paragraph {
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-bottom: 1.5rem; }
  .cta-primary {
    font-size: 2.5rem; }
  .cta-paragraph {
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-bottom: 1.5rem; }
  .img-rel {
    display: none; } }

/*TABLET LANDSCAPE MEDIA QUERY*/
@media only screen and (min-width: 801px) {
  .hero__logo-box {
    position: relative; }
  .hero__container {
    padding: 35rem 15rem;
    max-width: 100%;
    height: auto;
    background: -webkit-gradient(linear, left top, right bottom, from(#1CD8D2), to(#93EDC7));
    background: linear-gradient(to bottom right, #1CD8D2, #93EDC7); }
  .hero__text-box {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    position: absolute;
    padding: 6.5rem 3rem;
    width: 93%; } }

/*TABLET PORTRAIT MEDIA QUERY*/
@media only screen and (max-width: 600px) {
  .heading-primary {
    font-size: 4rem; }
  .heading-secondary {
    font-size: 3rem; }
  .heading-tertiary {
    font-size: 2.34rem; }
  .heading-quaternary {
    font-size: 2.66rem; }
  .feature-icon {
    font-size: 6.25rem; }
  -paragraph {
    font-size: 2.5rem;
    margin-bottom: 1.5rem; }
  .paragraph {
    font-size: 1.3rem;
    line-height: 1.9rem; }
  .story-feature {
    background: -webkit-gradient(linear, left top, right bottom, from(#1CD8D2), to(#93EDC7));
    background: linear-gradient(to bottom right, #1CD8D2, #93EDC7); }
  .story__content-box {
    padding: 0; } }
